<div class="body-wrapper">
    <header>
        <section class="filter-list expanded">
            <a class="btn btn-close" href="/">x</a>
            <div class="department-list">
                <div class="department">
                    <div class="dept-name">Department Name 1</div>
                    <div class="subjects-wrapper">
                        <div class="subject-name">Subject 1</div>
                        <div class="subject-name">Subject 2</div>
                        <div class="subject-name">Subject 3</div>
                        <div class="subject-name">Subject 4</div>
                        <div class="subject-name">Subject 5</div>
                        <div class="subject-name">Subject 6</div>
                        <div class="subject-name">Subject 7</div>
                        <div class="subject-name">Subject 8</div>
                        <div class="subject-name">Subject 9</div>
                        <div class="subject-name">Subject 10</div>
                        <div class="subject-name">S</div>
                        <div class="subject-name">Subject 12</div>
                        <div class="subject-name">Subject 13</div>
                        <div class="subject-name">Subject 14</div>
                        <div class="subject-name">Subject 15</div>
                        <div class="subject-name">Subject 16</div>
                        <div class="subject-name">Subject 17</div>
                        <div class="subject-name">Subject 18</div>
                        <div class="subject-name">Subject 19</div>
                        <div class="subject-name">Subject 20</div>
                    </div>
                </div>
                <div class="department">
                    <div class="dept-name">Department Name 2</div>
                    <div class="subjects-wrapper">
                        <div class="subject-name">Subject 1</div>
                        <div class="subject-name">Subject 2</div>
                        <div class="subject-name">Subject 3</div>
                        <div class="subject-name">Subject 4</div>
                        <div class="subject-name">Subject 5</div>
                        <div class="subject-name">Subject 6</div>
                        <div class="subject-name">Subject 7</div>
                        <div class="subject-name">Subject 8</div>
                        <div class="subject-name">Subject 9</div>
                        <div class="subject-name">Subject 10</div>
                        <div class="subject-name">S</div>
                        <div class="subject-name">Subject 12</div>
                        <div class="subject-name">Subject 13</div>
                        <div class="subject-name">Subject 14</div>
                        <div class="subject-name">Subject 15</div>
                        <div class="subject-name">Subject 16</div>
                        <div class="subject-name">Subject 17</div>
                        <div class="subject-name">Subject 18</div>
                        <div class="subject-name">Subject 19</div>
                        <div class="subject-name">Subject 20</div>
                    </div>
                </div>
                <div class="department">
                    <div class="dept-name">Department Name 3</div>
                    <div class="subjects-wrapper">
                        <div class="subject-name">Subject 1</div>
                        <div class="subject-name">Subject 2</div>
                        <div class="subject-name">Subject 3</div>
                        <div class="subject-name">Subject 4</div>
                        <div class="subject-name">Subject 5</div>
                        <div class="subject-name">Subject 6</div>
                        <div class="subject-name">Subject 7</div>
                        <div class="subject-name">Subject 8</div>
                        <div class="subject-name">Subject 9</div>
                        <div class="subject-name">Subject 10</div>
                        <div class="subject-name">S</div>
                        <div class="subject-name">Subject 12</div>
                        <div class="subject-name">Subject 13</div>
                        <div class="subject-name">Subject 14</div>
                        <div class="subject-name">Subject 15</div>
                        <div class="subject-name">Subject 16</div>
                        <div class="subject-name">Subject 17</div>
                        <div class="subject-name">Subject 18</div>
                        <div class="subject-name">Subject 19</div>
                        <div class="subject-name">Subject 20</div>
                    </div>
                </div>
                <div class="department">
                    <div class="dept-name">Department Name 4</div>
                    <div class="subjects-wrapper">
                        <div class="subject-name">Subject 1</div>
                        <div class="subject-name">Subject 2</div>
                        <div class="subject-name">Subject 3</div>
                        <div class="subject-name">Subject 4</div>
                        <div class="subject-name">Subject 5</div>
                        <div class="subject-name">Subject 6</div>
                        <div class="subject-name">Subject 7</div>
                        <div class="subject-name">Subject 8</div>
                        <div class="subject-name">Subject 9</div>
                        <div class="subject-name">Subject 10</div>
                        <div class="subject-name">S</div>
                        <div class="subject-name">Subject 12</div>
                        <div class="subject-name">Subject 13</div>
                        <div class="subject-name">Subject 14</div>
                        <div class="subject-name">Subject 15</div>
                        <div class="subject-name">Subject 16</div>
                        <div class="subject-name">Subject 17</div>
                        <div class="subject-name">Subject 18</div>
                        <div class="subject-name">Subject 19</div>
                        <div class="subject-name">Subject 20</div>
                    </div>
                </div>
                <div class="department">
                    <div class="dept-name">Very long Department Name 5</div>
                    <div class="subjects-wrapper">
                        <div class="subject-name">Subject 1</div>
                        <div class="subject-name">Subject 2</div>
                        <div class="subject-name">Subject 3</div>
                        <div class="subject-name">Subject 4</div>
                        <div class="subject-name">Subject 5</div>
                        <div class="subject-name">Subject 6</div>
                        <div class="subject-name">Subject 7</div>
                        <div class="subject-name">Subject 8</div>
                        <div class="subject-name">Subject 9</div>
                        <div class="subject-name">Subject 10</div>
                        <div class="subject-name">S</div>
                        <div class="subject-name">Subject 12</div>
                        <div class="subject-name">Subject 13</div>
                        <div class="subject-name">Subject 14</div>
                        <div class="subject-name">Subject 15</div>
                        <div class="subject-name">Subject 16</div>
                        <div class="subject-name">Subject 17</div>
                        <div class="subject-name">Subject 18</div>
                        <div class="subject-name">Subject 19</div>
                        <div class="subject-name">Subject 20</div>
                    </div>
                </div>
                <div class="department all">
                    <div class="dept-name">All Departments</div>
                    <div class="subjects-wrapper">
                        <div class="subject-name active">All Subjects</div>
                    </div>
                </div>
            </div>
        </section>
    </header>
</div>