<div class="body-wrapper">
    <header>
        <section class="filter-list expanded">
            <a class="btn btn-close" href="/">x</a>
            <div class="department-list">
                <div ng-repeat="department in departments" class="department">
                    <div class="dept-name">{{ department.name }}</div>
                    <div ng-repeat="sub in department.subjects" class="subjects-wrapper">
                        <div class="subject-name">{{ sub }}</div>
                    </div>
                </div>
                <div class="department all">
                    <div class="dept-name">All Departments</div>
                    <div class="subjects-wrapper">
                        <div class="subject-name active">All Subjects</div>
                    </div>
                </div>
            </div>
        </section>
    </header>
</div>