<div class="data-wrapper">
    <ul class="filtered-student">
        <li ng-repeat='student in students'>
            <span class="name">{{ student.familyName + ", " + student.givenName }}</span>
            <span class="dob">DOB: <span class="value">{{ student.dob }}</span></span>
            <span class="admit-date">Admitted: <span class="value">{{ student.admitDate }}</span></span>
            <span class="grad-date">Anticipated Graduation: <span class="value">{{ student.anticipatedGraduationDate }}</span></span>
            <span class="mentor">Mentor: <span class="value">{{ student.mentor.familyName + ", " + student.mentor.givenName }}</span></span>
        </li>
    </ul>
</div>